<html>
<!--{% load static %}-->
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <meta charset="utf-8">

    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <div class="d-flex flex-row">
                <input class="form-control"
                       placeholder="Filter">

                <button type="button" class="btn btn-light">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square-fill"
                         fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-light"
                        (click)="sortResult('SubjectId',false)">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill"
                         fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
                    </svg>
                </button>

            </div>

            last name
        </th>
        <th>
            <div class="d-flex flex-row">
                <input class="form-control" placeholder="Filter">

                <button type="button" class="btn btn-light">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square-fill"
                         fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-light">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill"
                         fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
                    </svg>
                </button>

            </div>
            Subject Name
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close"
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </tbody>
</table>
<input type="text" id="filterByLastName"/>


<table id="tableResults" class="table table-striped">
    {% for dataItem in TeacherList %}
    <thead>
    <tr>
        <th>TeacherFName</th>
        <th>TeacherLName</th>
        <th>Email</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>


    <!--            <td>{{dataItem.TeacherId}}</td>-->
    <td>{{dataItem.TeacherFName}}</td>
    <td>{{dataItem.TeacherLName}}</td>
    <td>{{dataItem.TeacherEmail}}</td>

    <td><img src="http://{{ request.META.HTTP_HOST }}/{{ dataItem.PhotoFileName.url }}" height="50" width="50"></td>


    </tr>
    </tbody>
    {% endfor %}


</table>
<script type="text/javascript"
        src="jquery.validate.1.9/jquery.validate.js"></script>
<script type="text/javascript"
        src="jquery-3.4.1.min.js"></script>

<script type="text/javascript"
        src="jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="jqueryui/ui/jquery.ui.tabs.js"></script>
<script type="text/javascript"
        src="plugin.js"></script>

<script type="text/javascript"
        src="jquery.js"></script>
<script>

            $(document).ready(function(){
                $('#filterByLastName').on('change', function(){
                    $("#tableResults tbody").html("");
                    $.ajax({
                        url: "url_filter",
                        data: {
                            q: $(this).val()
                              },
                        success: function(result){
                            $("#tableResults tbody").html("");
                            for(var i=0; i<result.length; i++) {
                                var tr = document.createElement("tr");
                                var td1 = document.createElement("td");
                                tr.appendChild(td1);
                                td1.innerHTML = result[i].TeacherFName;

                                var td2 = document.createElement("td");
                                td2.innerHTML = result[i].TeacherLName;
                                tr.appendChild(td2);

                                var td3 = document.createElement("td");
                                td3.innerHTML = result[i].TeacherEmail;
                                tr.appendChild(td3);

                                $("#tableResults tbody").html(tr);
                            }
                        }
                    });
                });
            });



</script>
</html>
